* {
    opacity: 0;
    animation: fadeInDefault 0.5s ease forwards;
}

@keyframes fadeInDefault {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


body {
    font-family: system-ui;
    background-color: hsl(0, 0%, 15%);
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 100px;
    color: white;
    /* background-image: url("onemorehourall/One-More-Hour-Thumbnails.png");
    background-position: center;
    background-size: contain; */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("onemorehourall/One-More-Hour-Thumbnails.png");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    
}

h1 {
    font-size: 120px;
}

p {
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 540px;
    padding: 10px;
}

a {
    color: white;
    display: block;
    padding: 10px;
  }

.gallery {
    margin: inherit;
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    max-width: 25%;
    object-fit: contain;
}

.gallery video {
    max-width: 25%;
    object-fit: contain;
}

.gallery-larger {
    margin: inherit;
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-larger img {
    max-width: 100%;
    object-fit: contain;
}

.gallery-larger video {
    max-width: 100%;
    object-fit: contain;
}
